body {
    background-color: rgb(73, 73, 73);
    
}

.Cards{
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    height: 100%;
}

.card{
    transition-duration: 0.1s;
}
.card:hover {
    
    transform: scale(101%);
  }

a{
    text-decoration: none;
    color: aliceblue;
}