body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    overflow: hidden
}

.TitleSmall{
    color: rgb(0, 0, 0);
    text-align: center;
    user-select: none;
    padding-top: 50vh;
    position: absolute;
}

.BackButton{
    color: rgb(0, 0, 0);
    text-align: center;
    user-select: none;
    margin-top: 25vh;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: rgb(148, 148, 148);
    transition: all .5s ease-in-out; 
}

.BackButton:hover{
    transform: scale(1.1); 
    
}

.BackButton:active{
    color: aqua;
    transform: scale(0.9);
}